*{margin: 0;padding: 0;}

.container{
    width: 1536px;
    height: inherit;
    background: rgba(0, 0, 0, .3);
    margin: 0 auto;
}

#wrap{width: 100%;}
header{
    width: 100%; 
    height: 100px; 
    background-color: #ff0; 
    position: fixed; top: 0;left: 0;
}
.mainBanner{
    width: 100%;
    height: 90vh;
    background-color: yellowgreen;
}
.slideiconimg{
    width: 100%;
    height: 58px;
    background-color: pink;
    margin-top: 10px;
}
section{margin-bottom: 50px;}
.section1{
    width: 100%;
    display: flex;
    background-color: red;
    justify-content: center;
}
.section1-left{
    width: 768px;
    height: 714px;
    background-color: aqua;
}
.section1-right{
    width: 768px;
    height: 714px;
    background-color: blueviolet;
}
.section2{
    width: 100%;
    display: flex;
    background-color: rgb(255, 166, 0);
    justify-content: center;
}
.section2-left{
    width: 768px;
    height: 742px;
    background-color: blue;
}
.section2-right{
    width: 768px;
    height: 742px;
    background-color: green;
}
.section2-row1{padding: 0 0 25px 50px; display: flex; justify-content: space-between;}
.section2-row2{padding: 25px 0 0 50px; display: flex; justify-content: space-between;}
.section2-imgbox{width: 329px; height: 344px; background-color: burlywood;}
.section2-textbox{width: 329px; height: 344px; background-color: burlywood;}
.section3{
    width: 100%;
    height: 853px;
    display: flex;
}
.section3-left{
    width: 50%;
    height: inherit;
    background-color: #ddd;
}
.section3-right{
    width: 50%;
    height: 100%;
    background-color: grey;
}
.section3-left-box{
    margin-left: 96px;
    padding: 50px 50px 50px 96px;
    box-sizing: border-box;
    width: 856px;
    height: 850px;
    background-color: deeppink;
}
.section4{
    margin: 0 88.5px 50px;
    padding: 0 96px;
    height: 660px;
    background-color: coral;
    display: flex;
}
.section4-imgbox{
    width: 1182px;
    height: 660px;
    background-color: black;
}
.section4-textbox{
    width: 354px;
    height: 660px;
    background-color: cornflowerblue;
}
.section4-textbox .textbox{
    width: 100%;
    height: 163px;
    padding: 24px 30px;
    box-sizing: border-box;
    background-color: brown;
}
.section5{
    margin: 0 88.5px;
    padding: 0 96px;
    height: 660px;
    background-color: mediumaquamarine;
}
.section4-textbox .textbox:not(:last-child){margin-bottom: 2px;}

.section5{
    margin: 0 110px 50px;
    display: flex;
    height: 404px;
    padding: 0 96px;
    background-color: rgb(197, 255, 178);
    justify-content: space-between;
}
.section5-text{
    width: 472px;
    height: 402px;
    background-color: darksalmon;
}
.section5-img{
    width: 1004px;
    height: inherit;
    background-color: khaki;
}
.section6{
    width: 100%; 
    height: 645px;
    background-color: chartreuse;
    
}
.section7{
    width: 100%;
    height: 384px;
    background-color: aquamarine;
}
footer{
    width: 100%;
    height: 175px;
}
footer .container{
    border-top: 1px solid #666;
}